body {
    background-color: #d3d3d3;
    margin: 0px;
    font-family: sans-serif;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 5vh;
}

nav h3 {
    display: inline;
    padding: 0 1em;
    font-style: italic;
}

nav ul {
    display: inline;
    margin: 0;
    padding: 0;
}

nav li {
    border: none;
    display: inline-block;
    font-size: 1.4em;
    height: 5vh;
    line-height: 5vh;
    margin: 0;
    padding: 0 20px;
    cursor: pointer;
}

nav li:hover {
    background-color: #ccc;
}

main > div {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.square {
    width: 16px;
    height: 16px;
    display: inline-block;
}

#loading {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#graph {
    background-color: #fff;
}

#infoPanel {
    height: 600px;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0px 2em;
    background-color: #fff;
}

#infoPanel table {
    border: 1px solid black;
    border-collapse: collapse;
}

#infoPanel thead th {
    background-color: #999;
    text-align: center;
    border: 1px solid #000;
}

#infoPanel tbody td {
    text-align: center;
    border: 1px solid #000;
}

#playerInput, #player1Input, #player2Input {
    border: none;
    font-size: 2em;
    height: 2em;
    padding: 0 10px;
}

#loadButton, #loadCompareButton {
    font-size: 2em;
    height: 2em;
    padding: 0 30px;
    margin-left: 1em;
}
